@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root {
    --clr-softBlue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-darkBlue500 : hsl(217, 54%, 11%);
    --clr-darkBlue400: hsl(216, 50%, 16%);
    --clr-darkBlue300: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--clr-softBlue);
}

img, picture {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

a:hover {
    color: var(--clr-cyan);
}

.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-darkBlue500);

}

.container {
    width: 95%;
    max-width: 350px;
    background-color: var(--clr-darkBlue400);
    padding: 22px;
    border-radius: 15px;
}

.image-box {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.nft-view {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, .5);
    opacity: 0;
    transition: 0.3s ease;
}

.nft-view:hover {
    opacity: 1;
}

.title {
    font-size: 1.313rem;
    font-weight: 700;
    padding: 1.4rem 0;
}


.price-date {
    display: flex;
    font-size: 1rem;
    padding: 1.4rem 0;
    justify-content: space-between;
}

.price, .date {
    display: flex;
    align-items: center;
}

.price {
    color: var(--clr-cyan);
    font-weight: 700;
}

.icon {
    margin-right: .4rem;
    display: inline-block;
}

.creator {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.line {
    height: 1px;
    background-color: var(--clr-darkBlue300);
    border: none;
    margin-bottom: 1rem;
}

.avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    margin-right: 1rem;
}

.creationOf {
    font-size: 1rem;
}